<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                text-align:center;
                font-family: sans-serif;
            }
            img {
                padding:10px;
            }
            .page-break {
                page-break-after: always;
            }
        </style>
    </head>
    <body>
        {% for card in deck %}
            <div id="front">
                <img src="{{ card.front.image }}"/>
            </div>
            <div class="page-break"></div>
            <div id="back">
                <h3>{{ card.title }}</h3>
                <p>{{ card.back.text }}</p>
                <img src="{{ card.back.image }}"/>
            </div>
            <div class="page-break"></div>
        {% endfor %}
    </body>
</html>